*.class
*.psp
*.doc
*.docx
*.pdf
*.tmp
*.bak
*.o

**/go/**/*.exe

**/cvs

artwork/*
bin/*
installer/*
izpack/*
javadocs/*
junitreports/*
mysqldocs/*
uninstaller/*
MOVESTemporary/*
SharedWork/*
WorkerFolder/*

go32/*

install.xml
PriorMasterID.txt
PriorWorkerID.txt
MOVESComputerID.txt
moveslog.txt
moveslog_old.txt
MOVESWindows.txt
go*output.txt
calc/go/externalcalculatorgo

