*.class
*.zip
*.psp
*.doc
*.docx
*.pdf
*.tmp
*.bak
*.o

calc/*.exe
generators/*.exe
calc/externalcalculatorgo
generators/externalgenerator

**/cvs

artwork/*
bin/*
jre/*
jre32/*
installer/*
izpack/*
javadocs/*
junitreports/*
mysqldocs/*
uninstaller/*
MOVESTemporary/*
SharedWork/*
WorkerFolder/*
manyworkers/*

install.xml
go*output.txt
PriorMasterID.txt
PriorWorkerID.txt
MOVESAlgorithms.html
MOVESComputerID.txt
moveslog.txt
moveslog_old.txt
MOVESWindows.txt
mrulist.tmp

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
