*.class
*.zip
*.psp
*.doc
*.docx
*.tmp
*.bak
*.o
*.code-workspace
.vscode/*

jre/*
jre32/*

!database/Setup/movesdb*.zip

# compiled Go executables
calc/*.exe
generators/*.exe
calc/externalcalculatorgo
generators/externalgenerator

# old content, no longer relevant
**/cvs
artwork/*
bin/*
izpack/*
javadocs/*
junitreports/*
mysqldocs/*

# folders created by the installer
installer/*
uninstaller/*

# folders that get populated at runtime
MOVESTemporary/*
SharedWork/*
WorkerFolder/*
manyworkers/*

# files that get created by running ant commands or by running the GUI
install.xml
go*output.txt
PriorMasterID.txt
PriorWorkerID.txt
MOVESAlgorithms.html
MOVESComputerID.txt
moveslog.txt
moveslog_old.txt
MOVESWindows.txt
mrulist.tmp

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
